
<%= form_for(@thought) do |f| %>
  <% if @thought.errors.any? %>
       <ul class="error">
      <% @thought.errors.full_messages.each do |message| %>
         <div class="alert-alert"><li><%= message %></li></div>
       <% end %>
       </ul>
   <% end %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date, ampm: true, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date, ampm: true, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_area :tag_list, class: "form-control" %>
  </div>
   
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <br>
  <div class="field center">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit Thought", class: "btn btn-success" %>
  </div>
<% end %>

