<% @thoughts.each do |thought|%>   
    <%= link_to thought_path(thought) do  %>
      <div class="thoughts">
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag thought.image.thumb, class: 'thought-image' %>
          </div>
          <div class="col-sm-9">
            <h3 class="thought-title"><%= thought.title %></h3>
            <span class="thought-venue"><%= thought.venue %> - <%= thought.location %></span>
            <p class="lead-time">
              <span class="thought-start"><%= time_format(thought.start_date) %></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>    
  <% end %>
  
<div class="text-center">
    <%= will_paginate @thoughts, renderer: BootstrapPagination::Rails %>
</div>
