<header>
  <h1><%= @thought.title %></h1>
    
  <% if @thought.thinker == current_thinker || (current_thinker && current_thinker.admin?) %>
    <ul class="actions">
      <li><%= link_to "Edit Thought", edit_thought_path(@thought), class: 'edit' %></li>
      <li><%= link_to "Delete Thought", thought_path(@thought), method: :delete, data: {confirm: "Are you sure you want to delete this Thought?"}, class: "delete" %></li>
       <% end %>
      <% if signed_in? && @thought.thinker != current_thinker %>
        <li><%= link_to "Register", thought_attendances_path(@thought), method: :post, class: 'new' %></li>
      <% end %> 
      <% if @thoughts.previous(@thought) %>
        <li><%= link_to "Previous Thought",@thoughts.previous(@thought), class: 'previous' %></li>
      <% end %>
     <% if @thoughts.next(@thought) %>
        <li><%= link_to "Next Thought",@thoughts.next(@thought), class: 'next' %></li>
      <% end %>
    </ul>
</header>

<div class="row">
  <div class="col-sm-9">
    <%= image_tag @thought.image.large, class: "thought-image" %>
    
    <div class="thought-meta">
      <h4><strong>Start date: </strong><%= time_format(@thought.start_date) %></h4>
      <p><strong>End date: </strong><%= time_format(@thought.end_date) %></p>
    </div>

    <div class="thought-details">
      <h3>Thought Details</h3>
      <p><%= @thought.description %></p>
    </div>

  <% if signed_in? %>
    <h3>Comments</h3>
      <div class="thought-comments">
        <% if @thought.comments.any? %> 
            <%= link_to "Load All Comments", thought_comments_path(@thought), :class => 'load_comments' %>
        <% else %>
          <div class="no-thoughts">
            There are no comments for this Thought  
        <% end %>
          </div> 
          <%= render 'comments/form', thought: @thought, comment: @comment %>
        <% end %>
       </div> 
  

  <div class="col-sm-3">
    <div class="sidebar">
      <h4 class = "thinker"><%= link_to @thought.thinker, thinker_path(@thought.thinker) %> </h4>
      <p><span class="thought-venue"></span><%= @thought.venue %>, <%= @thought.location %></p>
    </div>

    <div class="sidebar">
      <h4 class="tags">Tags</h4>
      <% if @thought.tags.any? %>
        <% @thought.tags.each do |tag|%>
          <span class="tag"><%= fa_icon 'hashtag' %><%= link_to tag.name, tag_path(tag) %></span>
        <% end %>
      <% end %>
    
    </div>
    <div class="sidebar">
       <h4 class="thinker">Thinkers: <span class="pull-right"><%= @thought.thinkers.count %></span></h4>
    </div>
  </div>
</div>

